<!doctype html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title>{% block title %}{% endblock %} - 图片管理</title>

<body>
        <section id='content'>
                <header>
                    <div class="container">
                            {% block header %}
                            {% endblock %}
                            <hr>
                    </div>
                </header>
                <div class="container">
                    <div class="row">
                            {% for message in get_flashed_messages() %}
                            <div class="flash alert">{{ message }}</div>
                            {% endfor %}
                    </div>
                </div>
            

{% block content %}
{% endblock %}

                
            </section>
         
            
</body>
</html>
