{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}图片信息编辑{% endblock %}</h1>
{% endblock %}

{% block content %}
    {{image['name']}} - by {{image['uploader']}}

    <hr>
    <img src="{{ url_for('static',filename='imageg/'+image['filename']) }}" width='400px'/>
    <hr>
    <form method="POST">
        <input hidden type="text" name="id" id="" value="{{image['_id']}}">
        <input type="text" name="tag" id="addtag">
        <input type="submit" name='addnewtag' value="增加新标签">
    </form>

    {% for tag in image['tags'] %}
    <li>{{ tag }}</li>
        {% if not loop.last %}
        {% endif %}
    {% endfor %}
{% endblock %}